# Supabase Configuration
SUPABASE_URL= #Supabase project URL
SUPABASE_KEY= #Supabase service key for server-side access you can get your api key from https://supabase.com/dashboard/project/{project_id}/settings/api-keys in service_role secret
SUPABASE_ANON_KEY= #Supabase anon/public key for client-side access you can get your api key from https://supabase.com/dashboard/project/{project_id}/settings/api-keys in anon public

# Stripe Configuration
STRIPE_SECRET_KEY= #Stripe secret key (test or live)
STRIPE_PUBLIC_KEY= #Stripe public key for frontend use
STRIPE_WEBHOOK_SECRET= #Stripe webhook signing secret
MERCHANT_ID= #Stripe merchant ID for transaction context
MERCHANT_DISPLAY_NAME= #Display name for the merchant in transactions

# eSIM Hub Configuration
ESIM_HUB_BASE_URL=https://apis.montytelecom.com #Base URL for primary eSIM hub API
ESIM_HUB_BASE_URL2=https://mm-hub-api.montytelecom.com #Base URL for secondary eSIM hub API
ESIM_HUB_API_KEY= #API key for accessing the eSIM hub
ESIM_HUB_TENANT_KEY=35360189-130d-45f4-9ab1-f8a6a82656de #Tenant key for the eSIM hub integration


# Firebase Cloud Messaging
FCM_CONFIG_FILE= #Path to Firebase service account JSON file

# Email / SMTP Configuration
SMTP_SERVER= #SMTP server address
SMTP_PORT= #SMTP server port (e.g., 587)
SMTP_USERNAME= #SMTP username/login email
SMTP_PASSWORD= #SMTP password or SMTP API key
SMTP_USE_TLS= #Use TLS for SMTP connection (True/False)
SMTP_SENDER= #Default sender email address for outgoing emails
SMTP_SENDER_NAME= #Default sender name for outgoing emails
SUPPORT_EMAIL= #Support contact email address

# App Defaults
DEFAULT_CURRENCY= #Default currency for transactions (e.g., USD, GBP)
ENVIRONMENT=Prod #Environment type (DEV, QA, PROD)
PAYMENT_METHODS=Card #Comma-separated list of enabled payment methods (e.g., otp, card)
WHATSAPP_NUMBER= #Whatsapp number for customer support
SCHEDULER_INTERVAL_SECONDS= #Interval in seconds for the scheduler to run sync exchange price tasks
GLOBAL_COUNTRIES_COUNT= #Minimum number of countries supported in global eSIM plans
EMAIL_TEMPLATES_PATH= #Path to the directory containing email templates